/* CSS VARIABLES */
:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --bannercolor: #5d097a;
    --bannertext: #5ba4da;
    --buttonbackground: #696969;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body{
    background: var(--light);
    margin: 30px 50px;
    line-height: 1.4;
}

a .fab{
text-decoration: none;
color: var(--light);
background-color: var(--dark);
}

.btn{
    background: var(--buttonbackground);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.btn:hover{
    background: var(--light);
    color: var(--buttonbackground);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.fas{
    margin: .3rem;
   
}

img{
    max-width: 100%; 
}

.info_image{
    max-width: 100%; 
    width: 100%;
    height: 30rem;  
}

.portfolio_image{
    width: 200px;
    height: 200px;
}

.topheader{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: .2rem;
    padding: 0;    
    margin: 0;
    justify-content: center;
    height: 40px;  
}

.sca{
    text-decoration: none;
    color: #696969;
}

.sca:visited{
    text-decoration: none;
    color: #696969;
}

.sca:hover{
    text-decoration: none;
    color: #696969;
}

.wrapper{
    display: grid;
    grid-gap: 20px;   
}

.main-navigation{
    display: grid;
    grid-template-areas: 'DTLOGO MENU_LIST';
    grid-gap: 20px;
    padding: 0;
}

.DTLogo{
    grid-area: 'DTLOGO';
}

.menu_list{
    grid-area: 'MENU_LIST';
}

/*-------- Main-Navigation List --------*/
.main-navigation ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}
/*--x----- Main-Navigation List -----x--*/

/*-------- Navigation Link --------*/
.main-navigation a{
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
} 
/*--x----- Navigation Link -----x--*/

/*-------- Navigation Link Hover --------*/
.main-navigation a:hover{
    background: var(--buttonbackground);
    color: var(--light);
}
/*--x----- Navigation Link Hover -----x--*/

/*-------- Top Container --------*/
.top-container{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/*-------- Showcase --------*/
.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url('./assets/img/main.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    opacity: 0.9;
}
/*--x----- Showcase -----x--*/

/*-------- Showcase H1 --------*/
.showcase .dthes__tekh__title{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--bannercolor);
    /* opacity: ; */
}
/*--x----- Showcase H1 -----x--*/

/*-------- Showcase Paragraph --------*/
.showcase p{
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--bannertext);
}
/*--x----- Showcase Paragraph -----x--*/

/*-------- Top Box --------*/
.top-box{
    background: var(--primary);
    display: grid;
     align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem; 
}
/*--x----- Top Box -----x--*/

/*-------- Top Box Price --------*/
.top-box .price{
    font-size: 2.5rem;
}
/*--x----- Top Box Price -----x--*/

/*-------- Top-Box-A --------*/
.top-box-a{
    grid-area: top-box-a;
}
/*--x----- Top-Box-A -----x--*/

/*-------- Top-Box-B --------*/
.top-box-b{
    grid-area: top-box-b;
}
/*--x----- Top-Box-B -----x--*/

/*-------- Boxes Section --------*/
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

}
/*--x----- Boxes Section -----x--*/

/*-------- Box Area --------*/
.box{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}
/*-------- Box Area --------*/

/*-------- Info Section --------*/
.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
/*-------- Info Section --------*/

/*-------- Portfolio Section --------*/
.portfolio{    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

}
/*-------- Portfolio Section --------*/

/*-------- Portfolio Image Section --------*/
.portfolio img{ 
    width: 100%;
    box-shadow: var(--shadow);
}
/*-------- Portfolio Image Section --------*/

/*-------- Footer Section --------*/
footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
/*-------- Footer Section --------*/

/*-------- Footer Section --------*/

/*-------- Footer Section --------*/

/*-------- MEDIA QUERIES FOR 700PX --------*/
@media(max-width: 700px){
    .top-container{
        grid-template-areas: 
        'showcase showcase'
        'top-box-a top-box-b';       
    }

    .showcase h1{
        font-size: 2.5rem;
    }

    .main-navigation ul{
        grid-template-columns: 1fr;
    }

    .info{
        grid-template-columns: 1fr;
    }

    .info .btn{
        display: block;
        text-align: center;
        margin: auto;
    }
    footer{
        margin-top: 2rem;
        background: var(--dark);
        color: var(--light);
        text-align: center;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
    }
}
/*-------- MEDIA QUERIES --------*/

/*-------- MEDIA QUERIES FOR 500PX --------*/
@media(max-width: 500px){
    .top-container{
        grid-template-areas: 
        'showcase'
        'top-box-a'
        'top-box-b';       
    }
}
/*-------- MEDIA QUERIES FOR 500PX --------*/
/*--x----- Top Container -----x--*/